# ç»ƒä¸€ç»ƒ
## 1. ä¼ä¸šæ”¶å…¥çš„å¤šæ ·æ€§

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('/Users/jie/Documents/Python/joyful-pandas-master/data/ex/company.csv')
df2=pd.read_csv('/Users/jie/Documents/Python/joyful-pandas-master/data/ex/company_data.csv')
df1.head(3)

      è¯åˆ¸ä»£ç     æ—¥æœŸ
0  #000007  2014
1  #000403  2015
2  #000408  2016

In [3]:
df2.head(3)

   è¯åˆ¸ä»£ç           æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0     1  2008/12/31     1  1.084218e+10
1     1  2008/12/31     2  1.259789e+10
2     1  2008/12/31     3  1.451312e+10

In [4]:
#ä¿®æ”¹è¯åˆ¸ä»£ç å’Œæ—¥æœŸçš„æ ¼å¼
df2['è¯åˆ¸ä»£ç ']=df2['è¯åˆ¸ä»£ç '].map(lambda x: '#'+np.str(x).zfill(6))
df2['æ—¥æœŸ']=pd.to_datetime(df2['æ—¥æœŸ'])
df2['æ—¥æœŸ']=df2['æ—¥æœŸ'].dt.year

In [5]:
df2.head(3)

      è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
0  #000001  2008     1  1.084218e+10
1  #000001  2008     2  1.259789e+10
2  #000001  2008     3  1.451312e+10

In [6]:
#æŒ‰ç…§ä¸åŒå…¬å¸ï¼ˆè¯åˆ¸ä»£ç ï¼‰å’Œå¹´ä»½æ±‡æ€»æ”¶å…¥
df2_sum=pd.DataFrame(df2.groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ'])['æ”¶å…¥é¢'].sum())
df2_sum=df2_sum.reset_index().rename(columns={'æ”¶å…¥é¢':'å¹´æ€»æ”¶å…¥é¢'})
df2_sum.head(3)

      è¯åˆ¸ä»£ç     æ—¥æœŸ         å¹´æ€»æ”¶å…¥é¢
0  #000001  2008  7.284498e+10
1  #000001  2009  4.771900e+10
2  #000001  2010  9.940944e+10

In [7]:
#å°†æ±‡æ€»æ”¶å…¥ä¸df2åŸå§‹è¡¨å¯¹åº”
df2_merge=df2.merge(df2_sum, on=['è¯åˆ¸ä»£ç ','æ—¥æœŸ'], how='left')
df2_merge.head(3)

      è¯åˆ¸ä»£ç     æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢         å¹´æ€»æ”¶å…¥é¢
0  #000001  2008     1  1.084218e+10  7.284498e+10
1  #000001  2008     2  1.259789e+10  7.284498e+10
2  #000001  2008     3  1.451312e+10  7.284498e+10

In [8]:
#è®¡ç®—æ”¶å…¥æŒ‡æ•°
p=df2_merge['æ”¶å…¥é¢']/df2_merge['å¹´æ€»æ”¶å…¥é¢']
df2_merge['æ”¶å…¥æŒ‡æ•°']=-(p*p.apply(np.log))
df2_sumindex=pd.DataFrame(df2_merge.groupby(['è¯åˆ¸ä»£ç ','æ—¥æœŸ'])['æ”¶å…¥æŒ‡æ•°'].sum().reset_index())
df2_sumindex.head(3)

      è¯åˆ¸ä»£ç     æ—¥æœŸ      æ”¶å…¥æŒ‡æ•°
0  #000001  2008  2.085159
1  #000001  2009  1.671752
2  #000001  2010  2.108355

In [9]:
#å°†è®¡ç®—å¥½çš„æŒ‡æ•°è¡¨ä¸df1åŒ¹é…
df1.merge(df2_sumindex, on=['è¯åˆ¸ä»£ç ','æ—¥æœŸ'], how='left')

         è¯åˆ¸ä»£ç     æ—¥æœŸ      æ”¶å…¥æŒ‡æ•°
0     #000007  2014  3.070462
1     #000403  2015  2.790585
2     #000408  2016  2.818541
3     #000408  2017       NaN
4     #000426  2015  3.084266
...       ...   ...       ...
1043  #600978  2011  3.319059
1044  #600978  2014  2.788100
1045  #600978  2015  3.012628
1046  #600978  2016  3.021157
1047  #600978  2017       NaN

[1048 rows x 3 columns]

## 2. ç»„é˜Ÿå­¦ä¹ ä¿¡æ¯è¡¨çš„å˜æ¢

In [30]:
df3=pd.read_excel('/Users/jie/Documents/Python/joyful-pandas-master/data/ex/ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨ï¼ˆPandasï¼‰.xlsx')
df3.head(3)

,æ‰€åœ¨ç¾¤,é˜Ÿä¼åç§°,é˜Ÿé•¿ç¼–å·,é˜Ÿé•¿_ç¾¤æ˜µç§°,é˜Ÿå‘˜1 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°,é˜Ÿå‘˜2 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.1,é˜Ÿå‘˜3 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.2,...,é˜Ÿå‘˜6 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.5,é˜Ÿå‘˜7 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.6,é˜Ÿå‘˜8 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.7,é˜Ÿå‘˜9 ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.8,é˜Ÿå‘˜10ç¼–å·,é˜Ÿå‘˜_ç¾¤æ˜µç§°.9
0,Pandasæ•°æ®åˆ†æ,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pandasæ•°æ®åˆ†æ,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,Pandasæ•°æ®åˆ†æ,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
df3.columns=['æ‰€åœ¨ç¾¤','é˜Ÿä¼åç§°','ç¼–å·0','é˜Ÿå‘˜0','ç¼–å·1','é˜Ÿå‘˜1','ç¼–å·2','é˜Ÿå‘˜2','ç¼–å·3','é˜Ÿå‘˜3','ç¼–å·4','é˜Ÿå‘˜4',
             'ç¼–å·5','é˜Ÿå‘˜5','ç¼–å·6','é˜Ÿå‘˜6','ç¼–å·7','é˜Ÿå‘˜7','ç¼–å·8','é˜Ÿå‘˜8','ç¼–å·9','é˜Ÿå‘˜9','ç¼–å·10','é˜Ÿå‘˜10']
df3.head(3)

,æ‰€åœ¨ç¾¤,é˜Ÿä¼åç§°,ç¼–å·0,é˜Ÿå‘˜0,ç¼–å·1,é˜Ÿå‘˜1,ç¼–å·2,é˜Ÿå‘˜2,ç¼–å·3,é˜Ÿå‘˜3,...,ç¼–å·6,é˜Ÿå‘˜6,ç¼–å·7,é˜Ÿå‘˜7,ç¼–å·8,é˜Ÿå‘˜8,ç¼–å·9,é˜Ÿå‘˜9,ç¼–å·10,é˜Ÿå‘˜10
0,Pandasæ•°æ®åˆ†æ,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pandasæ•°æ®åˆ†æ,ç†ŠçŒ«äºº,175,é±¼å‘²å‘²,44,Heaven,37.0,å•é’,50.0,ä½™æŸ³æˆè«,...,25.0,Never say never,55.0,K,120.0,Y.,28.0,X.Y.Q,151.0,swrong
2,Pandasæ•°æ®åˆ†æ,ä¸­å›½ç§»ä¸åŠ¨,107,Y's,124,ğŸ¥•,75.0,Vito,146.0,å¼ å°äº”,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df3_melt1=df3.melt(id_vars=['é˜Ÿä¼åç§°'], value_vars=df3.columns[2:].tolist(), var_name='test1',value_name='test2')

In [49]:
a=df3.melt(id_vars=['é˜Ÿä¼åç§°'], value_vars=df3.columns[range(3,24,2)].tolist(), var_name='test1',value_name='test2')

In [50]:
b=df3.melt(id_vars=['é˜Ÿä¼åç§°'], value_vars=df3.columns[range(2,24,2)].tolist(), var_name='test1',value_name='test2')

In [62]:
df3_match=pd.concat([a,b[['test1','test2']]], axis=1)

                 é˜Ÿä¼åç§° test1   test2 test1  test2
0              ä½ è¯´çš„éƒ½å¯¹é˜Ÿ   é˜Ÿå‘˜0  å±±æ«å¶çº·é£    ç¼–å·0    5.0
1                 ç†ŠçŒ«äºº   é˜Ÿå‘˜0     é±¼å‘²å‘²   ç¼–å·0  175.0
2               ä¸­å›½ç§»ä¸åŠ¨   é˜Ÿå‘˜0     Y's   ç¼–å·0  107.0
3               panda   é˜Ÿå‘˜0    å¤ªä¸‹çœŸå›   ç¼–å·0   11.0
4                ä¸€è·¯å‘åŒ—   é˜Ÿå‘˜0     é»„å…ƒå¸…   ç¼–å·0   13.0
..                ...   ...     ...   ...    ...
226      pandasä»å…¥é—¨åˆ°ç²¾é€š  é˜Ÿå‘˜10     NaN  ç¼–å·10    NaN
227  Attentionï¼keepå¹²é¥­  é˜Ÿå‘˜10     NaN  ç¼–å·10    NaN
228              Null  é˜Ÿå‘˜10     NaN  ç¼–å·10    NaN
229              ä¸ƒæ˜Ÿè”ç›Ÿ  é˜Ÿå‘˜10     NaN  ç¼–å·10    NaN
230               åº”å¦‚æ˜¯  é˜Ÿå‘˜10     NaN  ç¼–å·10    NaN

[231 rows x 5 columns]

In [ ]:
#ç¬¬ä¸‰é¢˜å¾…è¡¥